a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.main-link {
  font-size: medium;
  color: #363636;
}

.place-margin {
  margin-bottom: 0em !important;
}
.place-paragraph {
  font-size: medium;
  color: #363636;
}
